<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDFx903D4y0xIiy9n8-MJPoCdFi1visg8</string>
	<key>GCM_SENDER_ID</key>
	<string>146640098179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhoueverwin.golfmatchapp</string>
	<key>PROJECT_ID</key>
	<string>golfmatch-1290e</string>
	<key>STORAGE_BUCKET</key>
	<string>golfmatch-1290e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146640098179:ios:5aae590c9c09a8c9d49cb6</string>
</dict>
</plist>